<aside id="sidebar" class="sidebar">
  
    <ul class="sidebar-nav" id="sidebar-nav">
      
      
  
    <!-- <li class="nav-item">
        <a class="nav-link" *ngIf="!logined" routerLink='staffLogin'>Staff-Login</a>
      </li> -->
  
      <li class="nav-item">
        <a class="nav-link  " routerLink="/adminCreateStaff">
          <i class="bi bi-check-circle"></i><span>Create Staff</span>
        </a>
        
  
      </li><!-- End Components Nav -->
      
   
  

  
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse"  routerLink ="/adminEnableStaff">
          <i class="bi bi-toggles"></i><span>Enable/Block Staff</span>
        </a>
        
      </li><!-- End Tables Nav -->
      
    </ul>
  
  </aside><!-- End Sidebar-->
  <main id="main" class="main">
    <div class="pagetitle">
        <h1>Create Staff</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/adminLogin">Admin</a></li>
            <li class="breadcrumb-item">Create Staff</li>
    
          </ol>
        </nav>
      </div><!-- End Page Title -->
    <div class="card col-lg-10">
        <div class="card-body">
          <h5 class="card-title">Register Form</h5>

          <!-- Horizontal Form -->
          <form>
            <div class="row mb-3">
                
              <label for="inputEmail3" class="col-sm-2 col-form-label">Staff Full Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="fullname" [(ngModel)]="fullname"/>
              </div>
 
            </div>
            <div class="row mb-3">
                
                <label for="inputEmail3" class="col-sm-2 col-form-label">Staff User Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"name="username" [(ngModel)]="username"/>
                </div>
    
              </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control"name="email" [(ngModel)]="email"/>
              </div>
         
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="text"class="form-control" name="password" [(ngModel)]="password"/>
              </div>
     
            </div>
   
            <div class="text-center">
              <button type="submit" value="create" (click)="create()" routerLink="../adminEnableStaff" class="btn btn-primary">Submit</button>
        
            </div>
          </form><!-- End Horizontal Form -->

        </div>
      </div>
  </main>


