<aside id="sidebar" class="sidebar">
  
    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link " routerLink="/staffApploveAccount">
          <i class="bi bi-plus-circle"></i><span>Approve Account</span>
        </a>
        
  
      </li><!-- End Components Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed " routerLink="/staffFindByAccountNumber">
          <i class="bi bi-grid"></i>
          <span>Search By AccountNo</span>
        </a>
      </li><!-- End Dashboard Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" routerLink = "/staffApploveBeneficiary">
          <i class="bi bi-journal-text"></i><span>Approve Beneficiary</span>
        </a>
      
      </li><!-- End Forms Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse"  routerLink ="/staffDisableOrEnableCustomer">
          <i class="bi bi-layout-text-window-reverse"></i><span>Enable/Block Customer</span>
        </a>
        
      </li><!-- End Tables Nav -->
  
    </ul>
  
  </aside><!-- End Sidebar-->
  <main id="main" class="main">
    
    <div class="pagetitle">
      <h1>Approve Account</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/staffDashboard">StaffDashboard</a></li>
          <li class="breadcrumb-item">Approve Account</li>
  
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="row">
      <div class="col-lg-10">
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Default Table</h5>
  
            <!-- Default Table -->
            <table class="table">
              <thead>
              
                <tr>
                  <th scope="col">AccountNo</th>
                  <th scope="col">Customer</th>
                  <th scope="col">AccountType</th>
                  <th scope="col">CreateTime</th>
                  <th scope="col">Approve</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let x of accountList">
                  <th scope="row">{{x.accNo}}</th>
                  <td>{{x.customerName}}</td>
                  <td>{{x.accType}}</td>
                  <td>{{x.dateCreated}}</td>
                  <td>{{x.approved}}</td>
                  <td>
                      <button (click)="approveOnClick(x.accNo)">Approve</button>
                       
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Default Table Example -->
          </div>
        </div>
      </div>
    </div>
    
    </main>